/* ================================================================= */
/* ======================= PRIMARY RESET START ===================== */
* {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;

    -webkit-box-sizing: border-box !important;
       -moz-box-sizing: border-box !important;
        -ms-box-sizing: border-box !important;
         -o-box-sizing: border-box !important;
            box-sizing: border-box !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	color: inherit;
	text-decoration: none;
    outline: 0 !important;
}

a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

ol,
ul,
li {
	list-style-type: none;
}

.clr {
	clear: both;
}

body {
    font-family: 'Josefin Sans', sans-serif;
	background: #fff;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
	background-color: #fff;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
	background-color: #2BBBAD;
}

ol,
ul,
li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, figure {
    margin: 0;
}

p {
    margin-bottom: 0;
}

input,
textarea {
    border: 0;
    outline: 0;
    box-shadow: none;
    resize: none;
    background-color: transparent;
}

input:focus,
textarea:focus {
    box-shadow: none;
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

textarea::placeholder,
input::placeholder {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0 !important
}

img {
    max-width: 100%;
}

nav {
    margin-bottom: 0;
}

::-moz-selection {
    color: #fff;
    background: #2BBBAD;
    text-shadow: none;
}

::selection {
    background: #2BBBAD;
    color: #fff;
    text-shadow: none;
}

.list-inline {
    margin-left: 0;
}

.list-inline > li {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.panel-heading {
    background-color: transparent !important;
    border: 0 !important;
    padding: 0 !important;
    border-radius: 0;
}

.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.panel-default {
    border: 0 !important;
}

/* essentials start */
.bdrs-0 {border-radius: 0px;}
.bdrs-3 {border-radius: 3px;}
.bdrs-5 {border-radius: 5px;}
.bdrs-10 {border-radius: 10px;}
.no-border {border: none !important;}
.crop {overflow: hidden;}
.tdu:hover {text-decoration: underline;}
/* essentials end */
/* ======================== PRIMARY RESET END ====================== */
/* ================================================================= */

/*===============================================*/
         /* BACK TO TOP CLASSES START */
/*===============================================*/
.back2Top {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   -webkit-box-shadow: 0 8px 12px -4px rgba(0,0,0,.5);
   box-shadow: 0 8px 12px -4px rgba(0,0,0,.5);
   text-align: center;
   cursor: pointer;
   z-index: 999;
   position: fixed;
   bottom: -60px;
   right: 20px;
   overflow: hidden;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.back2Top .fa {
    font-size: 40px;
    line-height: 68px;
}

.totop {
   bottom: 20px;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
/*===============================================*/
         /* BACK TO TOP CLASSES END */
/*===============================================*/

/* all spacing (padding and margin) start */

/*padding-10*/
.pt-10,
.py-10,
.p-10 {padding-top: 10px;}
.pb-10,
.py-10,
.p-10 {padding-bottom: 10px;}
.pl-10,
.px-10,
.p-10 {padding-left: 10px;}
.pr-10,
.px-10,
.p-10 {padding-right: 10px;}
/*padding-10 end*/

/*padding-15*/
.pt-15,
.py-15,
.p-15 {padding-top: 15px;}
.pb-15,
.py-15,
.p-15 {padding-bottom: 15px;}
.pl-15,
.px-15,
.p-15 {padding-left: 15px;}
.pr-15,
.px-15,
.p-15 {padding-right: 15px;}
/*padding-15 end*/

/*padding-20*/
.pt-20,
.py-20,
.p-20 {padding-top: 20px;}
.pb-20,
.py-20,
.p-20 {padding-bottom: 20px;}
.pl-20,
.px-20,
.p-20 {padding-left: 20px;}
.pr-20,
.px-20,
.p-20 {padding-right: 20px;}
/*padding-20 end*/

/*padding-25*/
.pt-25,
.py-25,
.p-25 {padding-top: 25px;}
.pb-25,
.py-25,
.p-25 {padding-bottom: 25px;}
.pl-25,
.px-25,
.p-25 {padding-left: 25px;}
.pr-25,
.px-25,
.p-25 {padding-right: 25px;}
/*padding-25 end*/

/*padding-30*/
.pt-30,
.py-30,
.p-30 {padding-top: 30px;}
.pb-30,
.py-30,
.p-30 {padding-bottom: 30px;}
.pl-30,
.px-30,
.p-30 {padding-left: 30px;}
.pr-30,
.px-30,
.p-30 {padding-right: 30px;}
/*padding-30 end*/

/*margin-10*/
.mt-10,
.my-10,
.m-10 {margin-top: 10px;}
.mb-10,
.my-10,
.m-10 {margin-bottom: 10px;}
.ml-10,
.mx-10,
.m-10 {margin-left: 10px;}
.mr-10,
.mx-10,
.m-10 {margin-right: 10px;}
/*margin-10 end*/

/*margin-15*/
.mt-15,
.my-15,
.m-15 {margin-top: 15px;}
.mb-15,
.my-15,
.m-15 {margin-bottom: 15px;}
.ml-15,
.mx-15,
.m-15 {margin-left: 15px;}
.mr-15,
.mx-15,
.m-15 {margin-right: 15px;}
/*margin-15 end*/

/*margin-20*/
.mt-20,
.my-20,
.m-20 {margin-top: 20px;}
.mb-20,
.my-20,
.m-20 {margin-bottom: 20px;}
.ml-20,
.mx-20,
.m-20 {margin-left: 20px;}
.mr-20,
.mx-20,
.m-20 {margin-right: 20px;}
/*margin-20 end*/

/*margin-25*/
.mt-25,
.my-25,
.m-25 {margin-top: 25px;}
.mb-25,
.my-25,
.m-25 {margin-bottom: 25px;}
.ml-25,
.mx-25,
.m-25 {margin-left: 25px;}
.mr-25,
.mx-25,
.m-25 {margin-right: 25px;}
/*margin-25 end*/

/*margin-30*/
.mt-30,
.my-30,
.m-30 {margin-top: 30px;}
.mb-30,
.my-30,
.m-30 {margin-bottom: 30px;}
.ml-30,
.mx-30,
.m-30 {margin-left: 30px;}
.mr-30,
.mx-30,
.m-30 {margin-right: 30px;}
/*margin-30 end*/
/* all spacing (padding and margin) end */

/* ==================================================== */
			/* ALL TEXT FORMAT START */
/* ==================================================== */
/* font-family start */
.f1{font-family: 'Josefin Sans', sans-serif;}
.f2{font-family: 'Josefin Slab', serif;}
/* font-family end */

/*font-weight start*/
.fw-4 {font-weight: 400;}
.fw-6 {font-weight: 600;}
.fw-7 {font-weight: 700;}
/*font-weight end*/

/*txt-normal start*/
.txt-normal {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
    padding-bottom: 20px;
}
/*txt-normal end*/
/*
#221F20
#E60916
#F5F5F1
*/

/******
#2B9D59
#84B4E4
#24A44C
#045B63
#F7B307
#F3C26B
#8300F4
/*****
#202020 + #FD8326

343a40
*/


/* colors start */
.c1 {color: #2BBBAD !important}/* rgba(43, 187, 173, 1);*/
.c2 {color: #343a40 !important} /* rgba(52, 58, 64, 1) */
.cw {color: #fff !important}
.c-black {color: #000 !important}

.bg1 {background: #2BBBAD !important}
.bg2 {background: #343a40 !important}
.bgf {background: #fff !important}
.bg-0 {background: #000 !important}

body {
    height: 100vh;
    background: #041822;
}

.content p {
    color: #fff;
    font-size: 30px;
}

.content h1 {
    color: #FC7404;
    font-size: 78px;
    font-weight: 700;
}